<?xml version="1.0" encoding="UTF-8"?>

<?include Version.wxs?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <!-- product -->
  <Product UpgradeCode="$(var.UpgradeGuid)"
           Manufacturer="$(var.Manufacturer)"
           Id="????????-????-????-????-????????????"
           Language="1033"
           Name="$(var.FullName)"
           Version="$(var.Version)">

    <!-- package -->
    <Package Id="????????-????-????-????-????????????"
             Keywords="Installer"
             Description="$(var.Description)"
             Comments="$(var.Comments)"
             Manufacturer="$(var.Manufacturer)"
             InstallerVersion="150"
             Languages="1033"
             Compressed="yes" />


    <Upgrade Id="$(var.UpgradeGuid)" >
      <!-- upgrade is flagged if current-install is newer than or equal to package - TODO: should make a dialog appear asking user to confirm downgrade.  -->
      <UpgradeVersion Property="NEWERVERSIONDETECTED" Minimum="$(var.Version)" />

      <!-- flag is set if the install will trigger an upgrade of an existing install -->
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" Maximum="$(var.Version)" IncludeMaximum="no" />
    </Upgrade>


    <!-- install conditions -->
    <Condition Message="You must have Admin priviledges to install [ProductName].">(Privileged)</Condition>

    <!-- program directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="USGS" Name="USGS">
          <Directory Id="INSTALLDIR" Name="PHREEQC.COM" LongName="$(var.Directory)">

            <!-- merge modules -->
            <Merge Id="CRT" Language="1033" SourceFile="$(var.MergeDir)\microsoft_vc80_crt_x86.msm" DiskId="1" />
            <Merge Id="CRT Policy" Language="1033" SourceFile="$(var.MergeDir)\policy_8_0_Microsoft_VC80_CRT_x86.msm" DiskId="1" />
            <Merge Id="ATL" Language="1033" SourceFile="$(var.MergeDir)\Microsoft_VC80_ATL_x86.msm" DiskId="1" />
            <Merge Id="ATL Policy" Language="1033" SourceFile="$(var.MergeDir)\policy_8_0_Microsoft_VC80_ATL_x86.msm" DiskId="1" />

            <!-- note: dll file is in registry.wxs -->

            <!-- chm file -->
            <Component Id="C_PhreeqcCOM.chm" Guid="6A1290CA-3AB5-4F69-A3D4-13AA514EC0B6">
              <File Id="F_PhreeqcCOM.chm" Name="PHREEQC_.CHM" LongName="PhreeqcCOM.chm" KeyPath="yes" DiskId="1" Source="$(var.PhreeqcCOM_CHM_SRC)" />
              <Shortcut Id="startmenuReference" Directory="ProgramMenuDir" Name="Help" LongName="$(var.Shortcut)" Target="Complete" />
              <RemoveFolder Id="ProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
            </Component>

            <!-- tlb file -->
            <Component Id="C_PhreeqcCOM.tlb" Guid="84EF1646-6814-4D12-8AFC-A702DD4192E9">
              <File Id="F_PhreeqcCOM.tlb" Name="PHREEQC_.TLB" LongName="PhreeqcCOM.tlb" Vital="yes" KeyPath="yes" DiskId="1" Source="$(var.PhreeqcCOM_TLB_SRC)" />
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <!-- start-menu directory -->
      <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
        <Directory Id="ProgramMenuDir" Name="Phreeqc" LongName="$(var.FullName)" />
      </Directory>

    </Directory>

    <!-- features -->
    <Feature Id="Complete" Level="1">
      <ComponentRef Id="C_PhreeqcCOM.dll" />
      <ComponentRef Id="C_PhreeqcCOM.chm" />
      <ComponentRef Id="C_PhreeqcCOM.tlb" />
      <MergeRef Id="CRT" />
      <MergeRef Id="CRT Policy" />
      <MergeRef Id="ATL" />
      <MergeRef Id="ATL Policy" />
    </Feature>

    <!-- media -->
    <Media Id="1" DiskPrompt="CD-ROM #1" EmbedCab="yes" Cabinet="$(var.Cabinet)" />

    <!-- properties -->
    <Property Id="DiskPrompt" Value="$(var.FullName) Installation [1]" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

	<!-- don't display change/modify button in appwiz -->
    <Property Id="ARPNOMODIFY"><![CDATA[1]]></Property>

    <!-- ui -->
    <FragmentRef Id="UIFragment" />

    <!-- properties -->
    <Property Id="ALLUSERS"><![CDATA[2]]></Property>
    <Property Id="ButtonText_No">&amp;No</Property>
    <Property Id="ButtonText_Install">&amp;Install</Property>
    <Property Id="Setup">Setup</Property>
    <Property Id="ButtonText_Browse">Br&amp;owse</Property>
    <Property Id="CustomSetupIcon">custicon</Property>
    <Property Id="ButtonText_Next">&amp;Next &gt;</Property>
    <Property Id="ButtonText_Back">&lt; &amp;Back</Property>
    <Property Id="InstallMode">Typical</Property>
    <Property Id="Progress2">installs</Property>
    <Property Id="IAgree">No</Property>
    <Property Id="Wizard">Setup Wizard</Property>
    <Property Id="RemoveIcon">removico</Property>
    <Property Id="ExclamationIcon">exclamic</Property>
    <Property Id="ShowUserRegistrationDlg">0</Property>
    <Property Id="ProductID">none</Property>
    <Property Id="ButtonText_Reset">&amp;Reset</Property>
    <Property Id="ButtonText_Remove">&amp;Remove</Property>
    <Property Id="CompleteSetupIcon">completi</Property>
    <Property Id="ButtonText_Yes">&amp;Yes</Property>
    <Property Id="ButtonText_Exit">&amp;Exit</Property>
    <Property Id="ButtonText_Return">&amp;Return</Property>
    <Property Id="DialogBitmap">dlgbmp</Property>
    <Property Id="DlgTitleFont">{&amp;DlgFontBold8}</Property>
    <Property Id="ButtonText_Ignore">&amp;Ignore</Property>
    <Property Id="RepairIcon">repairic</Property>
    <Property Id="ButtonText_Resume">&amp;Resume</Property>
    <Property Id="InstallerIcon">insticon</Property>
    <Property Id="ButtonText_Finish">&amp;Finish</Property>
    <Property Id="PROMPTROLLBACKCOST">P</Property>
    <Property Id="PIDTemplate"><![CDATA[12345<#######>@@@@@]]></Property>
    <Property Id="Progress1">Installing</Property>
    <Property Id="ButtonText_Cancel">Cancel</Property>
    <Property Id="INSTALLLEVEL">3</Property>
    <Property Id="InfoIcon">info</Property>
    <Property Id="ButtonText_Repair">&amp;Repair</Property>
    <Property Id="ButtonText_Retry">&amp;Retry</Property>
    <Property Id="BannerBitmap">bannrbmp</Property>
    <Property Id="ButtonText_OK">OK</Property>
    <Property Id="VSDVERSIONMSG"><![CDATA[Unable to install because a newer version of this product is already installed.]]></Property>

    <!-- binary -->
    <Binary Id="Up" src="Binary\Up.ico" />
    <Binary Id="New" src="Binary\New.ico" />
    <Binary Id="custicon" src="Binary\Custom.ico" />
    <Binary Id="repairic" src="Binary\Repair.ico" />
    <Binary Id="exclamic" src="Binary\Exclam.ico" />
    <Binary Id="removico" src="Binary\Remove.ico" />
    <Binary Id="completi" src="Binary\Complete.ico" />
    <Binary Id="insticon" src="Binary\Typical.ico" />
    <Binary Id="info" src="Binary\Info.ico" />
    <Binary Id="bannrbmp" src="Binary\Banner.bmp" />
    <Binary Id="dlgbmp" src="Binary\Dialog.bmp" />


    <!-- Execute Sequencing ................................................................................................. -->
    <AdminExecuteSequence />

    <InstallExecuteSequence>
      <!-- AppSearch must be done before RemoveExistingProducts and before FindRelatedProducts -->
      <AppSearch Sequence="1"></AppSearch>
      <LaunchConditions After="AppSearch" />
      <RemoveExistingProducts After="InstallValidate"><![CDATA[PREVIOUSVERSIONSINSTALLED OR (NEWERVERSIONDETECTED AND OKTODOWNGRADE = 1)]]></RemoveExistingProducts>
    </InstallExecuteSequence>


  </Product>
</Wix>