<?xml version="1.0" encoding="UTF-8"?>
<!--
  generated using the wix command line:
  tallow -s PhreeqcCOM.dll
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="C_PhreeqcCOM.dll" DiskId="1" Guid="CAE6A602-D87C-4822-9659-573D130C8407">
        <File Id="F_PhreeqcCOM.dll" Name="PhreeqcCOM.dll" Source="$(var.PhreeqcCOM_DLL_SRC)" />
        <Registry Root="HKCR" Key="AppID\PhreeqcCOM.DLL" Name="AppID" Value="{5EA2A828-7EAB-4E8A-9FEA-96D9DE684A9E}" Type="string" />
        <Registry Root="HKCR" Key="AppID\{5EA2A828-7EAB-4E8A-9FEA-96D9DE684A9E}" Value="PhreeqcCOM" Type="string" />
        <Registry Root="HKCR" Key="CLSID\{6F59EA62-F726-4008-A61C-039ACB860F44}" Value="Phreeqc Class" Type="string" />
        <Registry Root="HKCR" Key="CLSID\{6F59EA62-F726-4008-A61C-039ACB860F44}" Name="AppID" Value="{5EA2A828-7EAB-4E8A-9FEA-96D9DE684A9E}" Type="string" />
        <Registry Root="HKCR" Key="CLSID\{6F59EA62-F726-4008-A61C-039ACB860F44}\InprocServer32" Value="[INSTALLDIR]PhreeqcCOM.dll" Type="string" />
        <Registry Root="HKCR" Key="CLSID\{6F59EA62-F726-4008-A61C-039ACB860F44}\InprocServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
        <Registry Root="HKCR" Key="CLSID\{6F59EA62-F726-4008-A61C-039ACB860F44}\ProgID" Value="PhreeqcCOM.Phreeqc.1" Type="string" />
        <Registry Root="HKCR" Key="CLSID\{6F59EA62-F726-4008-A61C-039ACB860F44}\Programmable" />
        <Registry Root="HKCR" Key="CLSID\{6F59EA62-F726-4008-A61C-039ACB860F44}\TypeLib" Value="{0B8469C4-8F3E-4FC4-B8F6-FA782292735A}" Type="string" />
        <Registry Root="HKCR" Key="CLSID\{6F59EA62-F726-4008-A61C-039ACB860F44}\VersionIndependentProgID" Value="PhreeqcCOM.Phreeqc" Type="string" />
        <Registry Root="HKCR" Key="Interface\{9EFD3E9C-EF32-4F9F-BFE7-6880B5E168C2}" Value="IPhreeqc" Type="string" />
        <Registry Root="HKCR" Key="Interface\{9EFD3E9C-EF32-4F9F-BFE7-6880B5E168C2}\ProxyStubClsid" Value="{00020424-0000-0000-C000-000000000046}" Type="string" />
        <Registry Root="HKCR" Key="Interface\{9EFD3E9C-EF32-4F9F-BFE7-6880B5E168C2}\ProxyStubClsid32" Value="{00020424-0000-0000-C000-000000000046}" Type="string" />
        <Registry Root="HKCR" Key="Interface\{9EFD3E9C-EF32-4F9F-BFE7-6880B5E168C2}\TypeLib" Value="{0B8469C4-8F3E-4FC4-B8F6-FA782292735A}" Type="string" />
        <Registry Root="HKCR" Key="Interface\{9EFD3E9C-EF32-4F9F-BFE7-6880B5E168C2}\TypeLib" Name="Version" Value="1.0" Type="string" />
        <Registry Root="HKCR" Key="PhreeqcCOM.Phreeqc" Value="Phreeqc Class" Type="string" />
        <Registry Root="HKCR" Key="PhreeqcCOM.Phreeqc\CLSID" Value="{6F59EA62-F726-4008-A61C-039ACB860F44}" Type="string" />
        <Registry Root="HKCR" Key="PhreeqcCOM.Phreeqc\CurVer" Value="PhreeqcCOM.Phreeqc.1" Type="string" />
        <Registry Root="HKCR" Key="PhreeqcCOM.Phreeqc.1" Value="Phreeqc Class" Type="string" />
        <Registry Root="HKCR" Key="PhreeqcCOM.Phreeqc.1\CLSID" Value="{6F59EA62-F726-4008-A61C-039ACB860F44}" Type="string" />
        <Registry Root="HKCR" Key="TypeLib\{0B8469C4-8F3E-4FC4-B8F6-FA782292735A}\1.0" Value="PhreeqcCOM 1.0 Type Library" Type="string" />
        <Registry Root="HKCR" Key="TypeLib\{0B8469C4-8F3E-4FC4-B8F6-FA782292735A}\1.0\0\win32" Value="[INSTALLDIR]PhreeqcCOM.dll" Type="string" />
        <Registry Root="HKCR" Key="TypeLib\{0B8469C4-8F3E-4FC4-B8F6-FA782292735A}\1.0\FLAGS" Value="0" Type="string" />
        <Registry Root="HKCR" Key="TypeLib\{0B8469C4-8F3E-4FC4-B8F6-FA782292735A}\1.0\HELPDIR" Value="[INSTALLDIR]" Type="string" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>